.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* --------------------------------
    Inputs section
-------------------------------- */

.field-one::-webkit-input-placeholder {color:rgba(49, 188, 134, 0.50);}
.field-one::-moz-placeholder          {color:rgba(49, 188, 134, 0.50);}/* Firefox 19+ */
.field-one:-moz-placeholder           {color:rgba(49, 188, 134, 0.50);}/* Firefox 18- */
.field-one:-ms-input-placeholder      {color:rgba(49, 188, 134, 0.50);}

.field-one, .textarea-one {
    font-weight: 400;
    border-radius: 3px;
    border: 0;
    outline: 0;
    padding: 1em;
    width: 100%;
    font-size: 1em;
    box-shadow: none;

    -webkit-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.field-one {
    color: #31bc86;
    background-color: #fafafa;
    border-radius: 5px;
}

.textarea-one{
    height: 100%;
    background-color: #fafafa;
    color: #31bc86;
    z-index: 1000;
    margin: 0 auto;
    resize: vertical;
}

/* --------------------------------
    A section
-------------------------------- */

.link-one {
    margin: 0 0.2em;
    display: inline-block;
    font-weight: 900;
    color: rgb(51, 51, 51);
}

.link-two {
    display: block;
    font-weight: 900;
    padding: 1em;
    border-radius: 3px;
    background-color: #fafafa;
    color: #8c99a7;

    -webkit-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.link-two:hover{
    background-color: #8c99a7;
    color: #fff;
}

/* --------------------------------
    Strings section
-------------------------------- */

.string-one{
    text-align: left;
}

.string-one {
    font-weight: 400;
    border-radius: 3px;
    padding: 1em;
    width: 100%;
    background-color: #31bc86;
    color: #fff;
    font-size: 1em;
}

.string-one.auto-w {
    display: inline-block;
    margin: 0;
    width: auto;
}

/* --------------------------------
    Sections section
-------------------------------- */

.section-one{
    padding: 1em;
    text-align: left;
    border-radius: 3px;
    font-weight: 900;
    overflow: auto;
    margin-top: 4em;
}

.section-one > div{
    margin: 0;
}

.section-one{
    color: #31bc86;
    border: 1px dashed #31bc86;
}

/* --------------------------------
    H section
-------------------------------- */

h1.small{
    text-align: left;
}

h1.small{
    margin-top: 0;
    font-size: 0.9em;
    font-weight: 100;
    color: #31bc86;
    cursor: default;
}

h1.small-two{
    font-size: 2em;
    font-weight: 400;
    color: #8c99a7;
    cursor: default;
    text-align: left;
}

/* --------------------------------
    ul section
-------------------------------- */

ul.listing-one{
    padding: 0;
    border-radius: 3px;
    background-color: #fafafa;
    max-height: 500px;
    overflow: auto;
}


/* --------------------------------
    Buttons section
-------------------------------- */

.button-one, .button-two, .button-three{
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    padding: 1em;
    border-radius: 3px;
    outline: 0;
    border: 0;

    -webkit-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition:all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.button-one, .button-two{
    color: #fff;
}

.button-one{
    display: block;
    font-weight: 400;
    background-color: #31bc86;
    color: #fafafa;
    width: 100%;
}

.button-one:hover {
    color: #fafafa;
    background-color: rgba(49, 188, 134, 0.72);
}

/* TWO STYLE */
.button-two{
    display: inline-block;
    background-color: #31bc86;
    text-align: left;
}

.button-two:hover {
    background-color: #fafafa;
    color: #a9b7b2;
}

/* THREE STYLE */
.button-three{
    display: inline-block;
    color: #31bc86;
    float: right;
    background-color: #fafafa;
}

.button-three:hover {
    color: #fff;
    background-color: #31bc86;
}

.mw-1 {
    max-width: 200px;
}

.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-right: 2em;
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    color: rgba(49, 188, 135, 0.75);
}

.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 0.25em;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid rgba(49, 188, 135, 0.15);
    transition: all 0.2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(49, 188, 135, 0.75);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.cbx span:last-child {
    padding-left: 0.5em;
    font-size: 0.95em;
}

.cbx:hover span:first-child {
    border-color: rgba(49, 188, 135, 0.75);
}

.inp-cbx:checked+.cbx span:first-child {
    background: rgba(49, 188, 135, 0.75);
    border-color: rgba(49, 188, 135, 0.75);
    animation: wave 0.4s ease;
}

.inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}